h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration-line: none;
    /* transition: color 500ms; */
}

img {
    max-width: 100%;
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}