@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    
}

@mixin center($dis, $ait, $jc) {
    display: $dis;
    align-items: $ait;
    justify-content: $jc;
    
}